        {{#each this}}
        <div class="row post-box bg-silver my-1">
            <div class="col-8">
                <p>{{text}}</p>
            </div>
            <div class="col-4">
                <p class="text-secondary">By: {{user.username}}, {{format_date createdAt}}</p>
            </div>
        </div>
        {{/each}}