<div class="col-1"></div>

<div class="col-10 bg-light bar" style="height: 100vh">
    <div class="mx-5 my-3">
        <h2 class="text-center">Create a Post</h2>
        <form class="" id="newPost">
            <div class="form-floating my-2">
                <input type="text" class="form-control" id="title" placeholder="Title" required/>
                <label for="title">Title</label>
            </div>
            <div class="form-floating my-2">
                <textarea class="form-control" id="content" rows="3" placeholder="Post Content Here" style="height: 100px;" required></textarea>
            <label for="content">Post Content Here</label>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type="submit" class="btn btn-outline-secondary my-1" value="Create Post">
            </div>
        </form>
    </div>

    <div class="">

    </div>
</div>

<div class="col-1"></div>